<h1>Create goal</h1>

<form action="/goals" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Body">body</label>
  <input id="Body" type="text" name="goal[body]" value="">

  <input type="submit" name="" value="Create Goal">
</form>
